.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: -5px;
    margin-top: 0px;
}

h2 {
    text-align: left;
    font-size: 40px;
}

@media screen and (max-width: 1600px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .list {
        grid-template-columns: 1fr;
    }
}