.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin-top: 0px;
}

.machinery {
    &__description {
        text-align: justify;
        margin-bottom: 15px;
        color: #8d8d8d;
    }
}

h2 {
    text-align: left;
    font-size: 40px;
}

@media screen and (max-width: 1400px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .list {
        grid-template-columns: 1fr;
    }
}