@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 5vw;
}

h2 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 40px;
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-color: #ffbe00;
    text-underline-position: auto;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0; 
}   

button {
    border: 0;
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
    background-color: #ffbe00;
    color: #000;
    margin: 15px 5px;
    font-weight: bold;
    width: 280px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(242,168,29, .5);
    color: #fff;
}

body {
    width: 100%;
    text-align: center;
}

html {
    scroll-padding-top: 80px;
}

@media screen and (max-width: 700px) {
    button, input {
        height: 9vh;
        width: 80%;
    }    

    h1 {
        font-size: 10vw;
    }
    
}

input, select {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
}

input[type='submit'] {
    background-color: rgba(242,168,29, .5);
    font-size: 16px;
    font-weight: 400;
    &:hover {
        background-color: rgba(242,168,29, .9);;
        cursor: pointer;
    }
}