#services {
    margin-top: 40px;
}

.services {
    &__description {
        text-align: justify;
        margin-bottom: 15px;
        color: #8d8d8d;
    }
}

.servicesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        margin: 10px;
        background-color: #f8f8f8;
        padding: 20px; 
        text-align: left;
        border-radius: 20px;
    }
    &__price {
        color: #ffa73d;
        font-weight: bold;
        padding: 10px 0;
    }
    &__descr {
        color: #8d8d8d;
    }
}

@media screen and (max-width: 500px) {
    .servicesList {
        grid-template-columns: 1fr;
    }
}
