.contacts {
    padding-bottom: 30px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 20px;
        &:hover {
            background-color: rgba(242,168,29, .5);;
            cursor: pointer;
        }
    }
    h3 {
        font-size: 35px;
        margin: 15px 0;
    }
}