.contacts {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        &:hover {
            background-color: #DBE2F9;
            cursor: pointer;
        }
    }
}