.banner {
    &__block {
        background-image: url('../../source/img/ekskavator_bg.jpg');
        width: 100%;
        height: auto;
        min-height: 100vh;
        font-size: 2vh;
        background-repeat: no-repeat;
        background-size: cover; 
        color: #fff; 
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 15px;
        &-inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            max-width: 1200px;
        }
        h1 {
            margin-bottom: 15px;
            margin-top: 80px;
            color: #fff;
        }
        &-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            border-radius: 15px;
            font-size: 18px;
            width: 280px;
            padding: 15px;
            margin: 20px 20px;
            font-weight: bold;
            background-color: #DCC3A1;
            color: #000;
            &:hover {
                background-color: #442B00;
                color: #C9B08D;
            }
        }
        button {
            background-color: #e8b672;
        }
    }
}

.arrow {
    width: auto;
    height: 30px;
    position: absolute;
    bottom: 1vh;
}

@media screen and (max-width: 700px) {
    .banner__block-btn {
        height: 9vh;
        width: 80%;
    }
}